*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #5a3749;
}

section{
    padding: 30px 0;
    background-color: #4ab135d2;
    display: flex;
    justify-content: center;
}

section:nth-child(even){
    background-color: #42b92ae0;
}

.container{
    width: 235px;
    height: 235px;
    background-color: #580b33;
    position: relative;
}

.even{
    background-color: #471c3c;
}

.box{
    width: 50px;
    height: 50px;
    background-color: #86115f;
    position: absolute;
}



.box1{
    
    top: 92px;
}